@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  background: -webkit-linear-gradient(#ec6f66, #f3a183);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  border: 1px solid gray;
}
